<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dise</title>
</head>
<body>

    <h1>Dise Gave Value:  <%= num %></h1>
    <% if(num == 6) { %>
    <h5> A 6, you can roll the dise again</h5>
    <% } %>
</body>
</html>